@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
	--primary-color: #0099ff;
	--secondary-color: #035b96;
	--third-color: #121f3d;
	--fourth-color: #fafafa;

	--op-primary-color: #0f172a93;
	--op-secondary-color: #7dd3fc93;

	--gray-color: #ddd;
} */

.title-gradient {
	background: -webkit-linear-gradient(#fff, #000);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 1px 0px 1px #000, 0px 1px 1px #fff, 2px 1px 1px #000, 1px 2px 1px #fff,
		3px 2px 1px #000, 2px 3px 1px #fff, 4px 3px 1px #000, 3px 4px 1px #fff, 5px 4px 1px #000,
		4px 5px 1px #fff, 6px 5px 1px #000, 5px 6px 1px #fff, 7px 6px 1px #000;
}

.text-shadow {
	text-shadow: 2px 1px 2px #0099ff, 1px 2px 2px #0099ff;
}
/* ! hacia abajo, lo aplicado por mí */

@layer components {
	html,
	body {
		@apply bg-black text-gray-color font-inter;
	}
}
